body {
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 65%;
    max-width: 1000px;
    min-width: 430px;
    margin: auto;
}

h1,
h3 {
    font-weight: 900;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    background-color: #f0fff8;
}

td {
    border: 1px solid #80ced6;
    padding: 10px;
}

p, ul {
    box-sizing: border-box;
    background-color: #f0fff8;
    padding: 30px;
    border: 1px solid #80ced6;
    border-radius: 10px;
}
ul {
    list-style-type: square;
}