* {
  margin: 0;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1120px;
  width: 72%;
  margin: 40px auto;
}
body {
  font-family: "Lato", sans-serif;
}
.product {
  border: 1px solid #5b5656;
  width: 400px;
  margin: 10px 0;
  padding: 20px;
  border-radius: 4px;
}
.img-product {
  width: 400px;
  height: 325px;
  object-fit: contain;
  margin-bottom: 10px;
}
h2 {
  font-size: 23px;
}
.firm {
  margin-bottom: 10px;
}
.price {
  color: #851e04;
  margin-bottom: 20px;
}
.properties {
  background-color: #c5c3c3;
  padding: 20px;
  list-style-type: none;
  margin-bottom: 20px;
}
.buy,
.add {
  color: #7521db;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 10px 10px 0px;
}
.back {
  font-size: 13px;
  display: block;
  font-style: italic;
  color: #000;
  padding: 10px 10px 10px 0px;
}
